<ul id="slide-out" class="side-nav fixed">
  <li class="search">
    <div class="search-wrapper">
      <i class="material-icons">search</i>
      <input id="search" placeholder="Search">
    </div>
  </li>
  <ul class="collection">
    <li *ngFor="let c of chatLists" (click)="onSelect(c)" [class.selected]="c === selectedChat" class="collection-item avatar">
      <img src={{c.imgURL}} alt="profileicon" class="circle">
      <span class="famiy-member">{{c.relationName}}</span>
      <span class="new badge">{{c.message}}</span>
      <span class="active-icon"></span>
    </li>
  </ul>
</ul>

<div class="chatbox" *ngIf='selectedChat'>
  <div class="chat-header">
    <span class="famiy-member">{{selectedChat.relationName}}</span>
    <i class="material-icons right" (click)='onClose(ch)'>close</i>
    <i class="material-icons right">settings</i>
    <i class="material-icons right">call</i>
    <i class="material-icons right">videocam</i>
  </div>
  <div class="chatlogs" #list [scrollTop]="list.scrollHeight" *ngIf='show'>
    <div *ngFor="let message of messages">
      <div class="time">{{message.date|date:'shortTime'}}</div>
      <div class="chat self">
        <div class="user-photo"><img src="./assets/images/home/user1.jpg"></div>
        <p class="chat-message">{{message.text}}</p>
      </div>
      <div class="chat family-user">
        <div class="user-photo"><img src="./assets/images/home/user2.jpg"></div>
        <p class="chat-message">{{message.text}}</p>
      </div>
    </div>
  </div>
  <div class="chat-form" *ngIf='show'>
    <i class="material-icons attach">attach_file</i>
    <textarea placeholder="Type your message..." (keyup.enter)="sendMessage()" [(ngModel)]='messageText'></textarea>
    <i class="material-icons smiley">sentiment_very_satisfied</i>
    <!-- <button (click)='send()'>send</button> -->
  </div>
</div>