
<ul id="slide-out" class="side-nav fixed">
 
      <li class="search">
          <div class="search-wrapper">
            <i class="material-icons">search</i>
            <input id="search" placeholder="Search">
          </div>
      </li>
      <ul class="collection">
      <li class="collection-item avatar">
      <img src="./assets/images/home/user1.jpg" alt="profileicon" class="circle">
      <span class="famiy-member">Jai kumar</span>
      <span class="new badge">4</span>
      <span class="active-icon"></span>
    </li>
     <li class="collection-item avatar">
      <img src="./assets/images/home/user2.jpg" alt="profileicon" class="circle">
      <span class="famiy-member">Mani Maran</span>
      <span class="new badge">18</span>
    </li>
      </ul>

    </ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>