.side-nav{
    transform: translateY(6%) !important;
    width: 250px !important;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.search-wrapper{
width: 200px !important;
display: block !important;
margin: auto;
text-align: center;
}

li.search .search-wrapper i.material-icons {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}


.collection .collection-item.avatar{
    min-height: 60px !important;
}

.collection .collection-item{
    line-height: 2.7rem !important;
}

.active-icon{
    background: rgb(66, 183, 42);
    border-radius: 50%;
    display: inline-block;
    height: 6px;
    margin-left: 1px;
    width: 6px;
}